.HomeSamesignUp_main_mainContainer{
    display: flex;
    margin: 0 auto;
   justify-content:center;
    
}
.HomeSamesignUp_mainContainer{
    background-color: #412A4C;
    max-width: 670px;
    height: 525px;
    z-index: 2;
    position: relative;
}
.HomeSamesignUp_childContainer{
    max-width: 550px;
    margin: 0 auto;
    padding : 0px 70px;
    font-family: 'GT Haptik Medium',sans-serif;
}
.HomeSamesignUp_childContainer > h2{
    /* padding-top: 60px; */
    color: #FCE5D8;
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 550;
    line-height: 1.2;
    font-size: clamp(3rem * 0.55, 3.5vw, 3rem);
    letter-spacing: 1px;
}
.HomeSamesignUp_childContainer > p{
    margin-top: -25px;
    color: #FCE5D8;
    line-height: 1.5;
    font-size: clamp( 1rem * 0.98, 1vw, 1rem );
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.HomeSamesignUp_mainContainer_button_div{
   display: flex; 
   justify-content: space-between;
   margin-top: 40px;
}
.HomeSamesignUp_mainContainer_button{
    height: 50px;
    width: 250px;
    display: flex;
    font-size: 1rem;
    background: white;
    border: none;
    color: #2C1338;
    cursor: pointer;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.HomeSamesignUp_mainContainer_button:hover{
    background-color:  #FCE5D8;
}
.HomeSamesignUp_mainContainer_svg{
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.HomeSamesignUp_mainContainer_via_email{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height:55px;
    width: 100%;
    border-radius: 50px;
    font-size: 1rem;
    color:  #2C1338;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 550;
    letter-spacing: 1px;   
}

.HomeSamesignUp_mainContainer_via_email:hover{
    background-color: #FCE5D8;
}
.HomeSamesignUp_mainContaine_description{
    margin-top: 37px;
    color: #FCE5D8;
    font-size: 14px;
    letter-spacing: 1px;
}

.HomeSamesignUp_childContainer2{
    width: 570px;
    background-color:rgb(252, 229, 216);
    height: 390px;
    margin-top:220px;
    margin-left: -100px;

}

.HomeSamesignUp_childContainer2 > h3{
    color: rgb(44, 19, 56);
    font-family: "GT Haptik Medium", sans-serif;
    font-weight: 550;
    line-height: 1.25;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    padding-top:60px;
    margin-left: 150px;
    width: 65%;
}
.HomeSamesignUp_childContainer2 > p{
    color: #2C1338;
    line-height: 1.5;
    font-size: clamp( 1.125rem * 0.9, 1.25vw, 1.125rem );
    margin-left: 150px;
    width: 65%;
    
}
.HomeSamesignUp_childContainer2 > button{
    font-family: 'GT Haptik Medium',sans-serif;
    font-size: 1rem;
    padding: 14px 35px;
    align-items: center;
    border-radius: 26px;
    border: 0;
    cursor: pointer;
    height: 52px;
    transition: background-color 150ms linear,color 150ms linear;
    background-color: #E57CD8;
    color: #FFF;
    margin-left: 150px;
    margin-top: 15px;
}

.HomeSamesignUp_childContainer2 > button:hover{
    background-color: #564260;
    color: #FFF;
}