:root {
  --purple: hsl(281, 49%, 15%);
  --lightPurple: hsl(281, 29%, 23%);
  --lightGrey: hsl(284, 9%, 66%);
  --lightPink: hsl(307, 67%, 69%);
}

#signupForm {
  background-color: var(--purple);
  padding: 3rem 5rem;
}
#signupFormTopButtons {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

#signupFormTopButtons button {
  border-radius: 30px;
  border: none;
  width: 47%;
  padding: 0.5rem 0rem;
  font-weight: bolder;
  cursor: pointer;
}
.signupFormTopButtonsimage {
  width: 30px;
  vertical-align: middle;
}

#signupFormOr {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  color: white;
}
.signupFormOrSide {
  width: 45%;
  border-bottom: 1px solid wheat;
}

#signupFormUserData {
  color: white;
  display: flex;
  flex-direction: column;
}

.signupFormInput {
  width: 100%;
  background-color: var(--purple);
  border: 2px solid var(--lightGrey);
  padding: 1rem 0;
  /* padding-left: 1rem; */
}
.signupFormInput:focus {
  background-color: white;
}

#signupFormUserData button {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 0;
  /* padding-left: 5%; */
  background-color: var(--lightPink);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}
#signupFormUserData button:hover {
  background-color: gray;
}
