#signupSideDescription {
  color: white;
}

#signupSideDescriptionQuote {
  font-size: 5rem;
}

#signupSideDescriptionDetails {
  margin-top: -7rem;
  font-size: 1.1rem;
  font-weight: bolder;
}
#signupSideDescriptionDetails :last-child {
  font-weight: normal;
}

/* media screen */
@media screen and (max-width: 414px) {
  #signupSideDescription {
    margin-top: -8rem;
  }

  #signupSideDescriptionDetails {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 415px) and (max-device-width: 1300px) {
  #signupSideDescription {
    margin-top: -8rem;
  }

  #signupSideDescriptionDetails {
    font-size: 1rem;
  }
}
