.download_main_container {
    margin-top: 100px;
    width: 100%;
    color: black;
    height: 900px;
    background-color: #f7d8f3;
    display: flex;
    gap: 10px;
    flex-direction: column;
}



.download_container {
    /* background-color: green; */
    width: 80%;
    margin: auto;
    height: 50%;
    text-align: center;
}


.download_description {
    padding: 100px;
}

.download_description>h1 {
    width: 50%;
    font-size: 45px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 30px;
}


.download_description>h1>img {
    width: 300px;
    height: 70px;
    margin-bottom: 10px;
}

.download_description>p {
    color: gray;
}

@media (min-width:500px) and (max-width:1500px) {
    .download_container {
        /* background-color: green; */
        width: 80%;
        margin: auto;
        height: 50%;
        text-align: center;
    }

    .download_description>h1 {
        width: 50%;
        font-size: 45px;
        font-weight: bold;
        margin: auto;

    }
}


.download_types {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    background-color: red;

}

.download_type {
    margin-bottom: 100px;
    width: 20%;
    background-color: green;
}

.download_type_heading>img {
    height: 150px;
    width: 150px;
}


.download_btn_ios {
    width: 70px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
}

.download_btn_android {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
}