.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.main {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* border: 5px solid red; */
    width: 100%;
    margin: auto;

}

.productCard {
    width: 20%;
    height: 720px;
    background-color: #412a4c;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* margin-right: 10px; */

    padding: 30px 25px;
    background-color: #412a4c;
    text-align: left;
}

.price {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 12px;
    align-items: center;
}

.price span {
    font-size: 60px;
    color: #E57CD8;
    margin-right: 15px;
}

.main h6 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

li {
    list-style: none;
    font-size: 14px;
    line-height: 2;
    position: relative;
}

li svg {
    margin-right: 20px;
    color: #E57CD8;
    font-size: 15px;
}

.tooltip {
    margin-right: 0px;
    top: 3px;
    right: 0;
    position: absolute;
    color: gray;
}



.getStartedbtn {
    margin-top: 100px;
    border-radius: 50px;
    border: none;
    width: 80%;
    height: 50px;
    background-color: #2d1738;
    color: white;
}

.getStartedbtn:hover {
    background-color: hsl(279, 13%, 57%);
}